.gradle
build/
data/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
doc-old-version/
logPath_IS_UNDEFINED/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
contact-center/src/main/resources/templates/apps/kefu_vue/node_modules.zip
